

:root {
    --text-primary: #EEEEEE;
    --text-secondary: #FFD166;
    --brand-black: #073B4C;
    --brand-red: #F94F6D;
    --background-primary: #118AB2;

}

 @font-face {
        font-family: cursed-Timer-Ulil;
        src: url(./CursedTimerUlil-Aznm.ttf);
    }


body {
    margin: 0;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: var(--background-primary);
}

.score-container {
    display: flex;
    justify-content: space-around;
    text-align: center;
    width: 575px;
    height: 275px;
    color: var(--text-primary);
}

h3 {
    font-size: 40px;
    font-style: normal;
    font-weight: 700px;
    line-height: 35.893px;
    margin-top: 72px;
    margin-bottom: 0;
}

.score-box {
    width: 155px;
    height: 120px;
    background: var(--brand-black);
    border-radius: 4px;
    color: var(--brand-red);
    font-family: Cursed-Timer-Ulil;
    text-align: center;
    font-size: 90px;
    font-style: normal;
    font-weight: 400px;
    line-height: 126.666px;
    margin-top: 24px;
    margin-bottom: 32px;
}


.btn-container {
    display: flex;
    justify-content: space-between;
}

.point-btn {
    color: var(--text-secondary);
    border: 2px solid var(--text-secondary);
    border-radius: 4px;
    width: 45px;
    height: 45px;
    background-color: var(--background-primary);
    text-align: center;
    font-size: 18px;
    font-style: normal;
    font-weight: 400px;
    line-height: 27.812px;
}

.reset-container {
    width: 500px;
    margin: 82px 40px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.reset-btn {
    width: 450px;
    height: 56px;
    border-radius: 4px;
    border: none;
    background-color: var(--brand-red);
    color: var(--text-primary);
    font-weight: bold;
}

